@import "tailwindcss";


@theme {
  --color-primary: rgb(255 0 90);
}


.marquee {
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Na mobilech zrychlíme animaci */
@media (max-width: 768px) {
  .marquee {
    animation-duration: 10s;
  }
}
