@import "tailwindcss";


@theme {
  --color-primary: rgb(255 0 90);
}
.anton {
  font-family: "Anton", sans-serif;
}

.marquee {
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Na mobilech zrychlíme animaci */
@media (max-width: 768px) {
  .marquee {
    animation-duration: 10s;
  }
}

html { scroll-behavior: auto; }


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root, #__next {
  height: 100%;
}

/* Bezpečnostní pojistka – vše kromě body nechat bez y-scrollu */
*:not(body) {
  overflow-y: visible !important;
}
